services:
  redis:
    image: mirror.gcr.io/valkey/valkey:8.1-alpine
    command: valkey-server --appendonly yes
    healthcheck:
      test: valkey-cli ping
    restart: unless-stopped
    volumes:
      - redis:/data
    logging: &logging
      driver: journald
      options:
        tag: '{{.Name}}'

  db:
    image: postgres:14.0-alpine
    healthcheck:
      test: pg_isready -U postgres || exit 1
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=POSTGRES_PASSWORD_LOL
      - POSTGRES_DB:postgres
    volumes:
      - db:/var/lib/postgresql/data
    logging:
      <<: *logging

  app:
    image: ghcr.io/backend-developers-ltd/infinitehash-subnet-prod@sha256:003e17512570ee7b5605f7d29e4bfabc93de0f38108626fb448ca14bb6559542
    pull_policy: always
    healthcheck:
      test: ["CMD", "./healthcheck.py", "/var/run/gunicorn/gunicorn.sock"]
    init: true
    restart: unless-stopped
    env_file: ./.env
    environment:
      - ENV=prod
      - DATABASE_URL=postgres://postgres:POSTGRES_PASSWORD_LOL@db:5432/postgres
      - REDIS_HOST=localhost
      - REDIS_PORT=8379
      # Add this variable to all containers that should dump Prometheus metrics.  Each container besides this one
      # should use a different subdirectory of /prometheus-multiproc-dir, e.g.
      # - PROMETHEUS_MULTIPROC_DIR=/prometheus-multiproc-dir/other-container
      # Don't forget to also mount the prometheus-metrics volume in other containers too.
      - PROMETHEUS_MULTIPROC_DIR=/prometheus-multiproc-dir
    volumes:
      - backend-static:/root/src/static
      - gunicorn-socket:/var/run/gunicorn
      - ./media:/root/src/media
      - ~/.bittensor:/root/.bittensor
      # Add this mount to each container that should dump Prometheus metrics.
      - ./prometheus-metrics:/prometheus-multiproc-dir
    depends_on:
      - redis
      - db
    logging:
      <<: *logging

  celery-worker:
    image: ghcr.io/backend-developers-ltd/infinitehash-subnet-prod@sha256:003e17512570ee7b5605f7d29e4bfabc93de0f38108626fb448ca14bb6559542
    pull_policy: always
    init: true
    healthcheck:
      test: celery -A infinite_hashes status > /dev/null || exit 1
    restart: unless-stopped
    env_file: ./.env
    environment:
      - ENV=prod
      - DEBUG=off
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_MASTER_CONCURRENCY=3
      - CELERY_WORKER_CONCURRENCY=3
      - DATABASE_URL=postgres://postgres:POSTGRES_PASSWORD_LOL@db:5432/postgres
      - REDIS_HOST=localhost
      - REDIS_PORT=8379
      - PROMETHEUS_MULTIPROC_DIR=/prometheus-multiproc-dir/celery-worker
    command: ./celery-entrypoint.sh
    volumes:
      - ~/.bittensor:/root/.bittensor
      - ./prometheus-metrics:/prometheus-multiproc-dir
    tmpfs: /run
    depends_on:
      - redis
      - db
    links:
      - redis
    logging:
      <<: *logging

  celery-beat:
    image: ghcr.io/backend-developers-ltd/infinitehash-subnet-prod@sha256:003e17512570ee7b5605f7d29e4bfabc93de0f38108626fb448ca14bb6559542
    pull_policy: always
    init: true
    restart: unless-stopped
    env_file: ./.env
    environment:
      - ENV=prod
      - DEBUG=off
      - CELERY_BROKER_URL=redis://redis:6379/0
      - DATABASE_URL=postgres://postgres:POSTGRES_PASSWORD_LOL@db:5432/postgres
      - REDIS_HOST=localhost
      - REDIS_PORT=8379
    command: nice celery -A infinite_hashes beat -l INFO --schedule /tmp/celerybeat-schedule -f /tmp/logs/celery-beat.log
    volumes:
      - ./logs:/tmp/logs
    depends_on:
      - redis
      - db
    links:
      - redis
    logging:
      <<: *logging

volumes:
  backend-static:
  gunicorn-socket:
  redis:
  db:
